body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
}
header, footer {
    flex-grow: 1;
    background-color: black;
}
.main-section {
    flex-grow: 2;
    background-color: rgb(235,235,235);
    display: flex;
    justify-content: center;
}
.col-1 {
    /* border: 2px solid salmon; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.col-2 {
    /* border: 2px solid salmon; */
    flex-grow: 1.6;
}
.add-row-1 {
    height: 15%;
    /* border: 2px solid brown; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
    color: rgb(44,114,241);
}
.add-row-2 {
    height: 85%;
    /* border: 2px solid brown; */
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-container {
    height: 90%;
    width: 60%;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-task-form {
    /* border: 2px solid; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(44,114,241);
}
#add-task-form select {
    background-color: rgb(239,239,239);
}
#add-task-form input {
    background-color: rgb(255,255,255);
}
#add-task-form button {
    color: white;
    background-color: rgb(44,114,241);
    border: none;
    height: 38px;
    border-radius: 3%;
}
.col-2 {
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-2-row-1, .col-2-row-3 {
    width: 100%;
    /* border: 2px solid greenyellow; */
    flex-grow: 1;
}
.col-2-row-2 {
    background-color: #ffff;
    width: 100%;
    /* border: 2px solid; */
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}
.logo-col {
    height: 100%;
    /* border: 2px solid salmon; */
    flex-grow: 1;
}
.task-col {
    height: 100%;
    /* border: 2px solid salmon; */
    flex-grow: 3;
}
.logo-col img {
    height: 40px;
}